
////////////////////////////////////////////////////////////////////////////////
//  homepage assets
////////////////////////////////////////////////////////////////////////////////

$base-img-url : '../img/';
$icon-img-url : $base-img-url + 'icons/';
$logo-img-url : $base-img-url + 'logos/';


$nihtan-logo1 : $base-img-url + 'logo1.png';
$nihtan-logo2 : $base-img-url + 'logo2.png';
$home1        : $base-img-url + 'home1.jpg';
$backdrop     : $base-img-url + 'backdrop.png';
$main-bg      : $base-img-url + 'main-bg.png';

$hover-dots   : $icon-img-url + 'dots_1.png';
$pogo         : $base-img-url + 'pogo.png';

$pagcor       : $logo-img-url + 'pagcor.png';
$gli          : $logo-img-url + 'gli.png';
$facebook     : $logo-img-url + 'facebook.png';
$youtube      : $logo-img-url + 'youtube.png';
$bluefrog     : $logo-img-url + 'bluefrog.png';
