/////////////////////////////////////////////////////////////////////////
//      input dimensions
/////////////////////////////////////////////////////////////////////////


// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
